body{
    margin: 0;
}

nav{
    text-align: center;
    background: linear-gradient(35deg, teal 50%, black 90%);
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

#container{
    width:80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

aside{
    width:25%;
    display: flex;
    flex-direction: column;
}

aside hr{
    margin: 10px 0;
}

button{
    background: rgb(29, 136, 172);
    color: white ;
    margin-top: 10px;
}

#historyDiv{
    display: flex;
    flex-direction: column;
}

#historyDiv button {
    background: lightgray;
    color: black;
}

main{
    width: 70%;
    display: flex;
    flex-direction: column;
}

#currentDiv {
    background: lightblue;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

#currentDiv h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

#currentDiv p{
    font-size: 1.2rem;
    margin: 0;
}

#forecastDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 15%;
    background: lightblue;
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
}

.card h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p{
    font-size: 1.2rem;
    margin: 0;
}